<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLsk-0CsKMRL6jbk3PWoF3D9YDbuQ1m3M</string>
	<key>GCM_SENDER_ID</key>
	<string>802746240653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agroConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agroconnect-4a482</string>
	<key>STORAGE_BUCKET</key>
	<string>agroconnect-4a482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802746240653:ios:f80d19f7d748b4f1395cc4</string>
</dict>
</plist>